:root {
    --body-color: #efefef;
    --light-color: #ffffff;
    --gray-color: #a7a7a7;
    --active-card-color: #748eff;
    --user-icon-color: #5f72c6;
    --user-photo-shadow: 0px 14px 27px -1px rgba(199,195,199,1);
    --active-element-shadow: 0px 0px 27px -1px rgba(199,195,199,1);
}

body {
    background-color: var(--body-color);
    font-family: 'Open Sans', sans-serif;
}

#root {
    font-size: 2rem;
    text-align: center;
}

.displayFlex{
    display: flex;
    justify-content: center;
    align-items: center;
}

header.displayFlex{
    justify-content: flex-end;
    position: fixed;
    height: 60px;
    width: 100%;
    background-color: white;
}

header .userPhotoWrapper {
    width: 40px;
    height: 40px;
    margin: 0 20px;
}

.authUserInfo {
    flex-direction: column;
}

.authUserInfo .fullName {
    margin: 5px;
}

.positionAuthUser{
    margin: 2px;
    font-size: 0.8rem;
    color: gray;
}

.selectedUser {
    box-sizing: border-box;
    padding-top: 80px;
    min-height: 150px;
    font-size: 2rem;
    text-align: center;
}

.userCardsWrapper {
    flex-wrap: wrap;
    margin: 0 20px;
}

.userCard {
    flex-direction: column;
    margin: 15px;
    padding: 20px 0;
    min-width: 280px;
    max-width: 300px;
    border-radius: 10px;
    background-color: var(--light-color);
    transition: 1s;
}

.userPhotoWrapper {
    margin: 20px;
    width: 100px;
    height: 100px;
}

img {
    object-fit: cover;
    border-radius: 50%;
    width: 100%;
    height: 100%;
    -webkit-box-shadow: var(--user-photo-shadow);
    -moz-box-shadow: var(--user-photo-shadow);
    box-shadow: var(--user-photo-shadow);
}

.userIconWithInitials {
    border-radius: 50%;
    background-color: var(--user-icon-color);
    color: var(--light-color);
    font-size: 3rem;
    -webkit-box-shadow: var(--user-photo-shadow);
    -moz-box-shadow: var(--user-photo-shadow);
    box-shadow: var(--user-photo-shadow);
}

.fullName {
    margin-top: 15px;
    min-height: 17px;
    font-weight: bold;
    font-size: 1.1rem;
}

.profession {
    color: var(--gray-color);
    margin: 15px 0;
    font-size: 0.9rem;
}

.connectButton {
    margin: 20px;
    padding: 10px 35px;
    border: 1px solid var(--gray-color);
    border-radius: 3px;
    background-color: var(--light-color);
    color: var(--gray-color);
    font-size: 0.9rem;
    font-weight: bold;
    transition: .5s;
    outline-style: none;
}

.activeUserCard {
    position: relative;
    z-index: 1;
    transform: scale(1.2, 1.2);

    -webkit-box-shadow: var(--active-element-shadow);
    -moz-box-shadow: var(--active-element-shadow);
    box-shadow: var(--active-element-shadow);
}

.activeUserCard > .connectButton {
    background-color: var(--active-card-color);
    color: var(--light-color);
    border: none;

    -webkit-box-shadow: var(--active-element-shadow);
    -moz-box-shadow: var(--active-element-shadow);
    box-shadow: var(--active-element-shadow);
}

@media screen and (max-width: 380px) {

    .userCard{
        min-width: 240px;
        max-width: 250px;
    }
}